<% provide(:title, 'Zaloguj się') %>

<h1>Logowanie</h1>

<div class="container-fluid">
	<div class="col-md-6">

		<%= form_for(:session, url: login_path) do |f| %>

			<div class="form-group col-lg-12">
				<label>Email</label>
				<%= f.email_field :email, class: 'form-control'%>				
			</div>

			<div class="form-group col-lg-12">
				<label>Hasło</label>
				<%= f.password_field :password, class: 'form-control'%>				
			</div>

			<div class="form-group col-lg-12">
			<%= f.submit "Zaloguj się", class: "btn btn-primary" %>
			</div>

		<% end %>


		<p>Nie masz konta? <%= link_to "Zarejestruj się!", signup_path %></p>
	</div>
</div>
