<% provide(:title, 'Rejestracja') %>

<h1>Zarejestruj się</h1>

<div class="container-fluid">
	<div class="col-md-6">
	
		<%= form_for(@user, url: signup_path) do |f| %>

		<% if @user.errors.any? %>
			<div class="alert alert-danger">
				Znaleziono błędy w formularzu. Popraw zaznaczone pola:
			</div>	

			<ul class="error messages" style="color: red">
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>		
		<% end %>

		

		<div class="form-group col-lg-12">
			<label>Email</label>
			<%= f.email_field :email, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Hasło</label>
			<%= f.password_field :password, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Potwierdź hasło</label>
			<%= f.password_field :password_confirmation, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<%= f.submit "Stwórz konto", class: "btn btn-primary" %>
		</div>

		

		<% end %>
	</div>