<% provide(:title, 'Edytuj') %>
<h1>Edycja obrazu</h1>

<div class="container-fluid">
	<div class="col-md-6">

		<%= form_for(@art) do |f| %>	
		<div class="form-group col-lg-12">
			<label>Tytuł</label>
			<%= f.text_field :title, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Autor</label>
			<%= f.text_field :author, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Rok</label>
			<%= f.number_field :year, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Technika</label>
			<%= f.text_field :technique, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Cena (pozostaw puste jeśli nie na sprzedaż)</label>
			<%= f.number_field :price, class: 'form-control'%>
		</div>

		<div class="form-group col-lg-12">
			<label>Dostępność:</label>
			<%= f.check_box :availability %>
		</div>

		<div class="form-group col-lg-12">
			<label>Zdjęcie</label>
			<%= f.file_field :image %>
		</div>

		<div class="form-group col-lg-12">
			<%= f.submit "Aktualizuj", class: "btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>
