<% provide(:title, 'Katalog') %>

<div id="art_nav" class="row">
	<div id="art_nav_left" class="float-left">
		<%= will_paginate @arts, :previous_label => 'Poprzednia', :next_label => 'Następna' %>
	</div>
	
	<div id="art_nav_right" class="float-right">
		<%= form_tag arts_path, :method => 'get' do %>
			<%= text_field_tag :title_contains, params[:title_contains], class: "form control" %>
			<%= submit_tag "Szukaj", :title => nil, class: "btn btn-primary" %>

			<% if isAdmin? %>
				<%= link_to 'Dodaj wpis', new_art_path, class: "btn btn-warning" %>
			<% end %>
		<% end %>


	</div>
</div>	

<div class="row text-center text-lg-left" style="padding: 10px">
	<% @arts.each do |art| %>  		
  		<div class="col-lg-3 col-md-4 col-xs-6 art_container">		
  			<%= link_to art, data: {fancybox: 'gallery', 
  										caption: "<b>"+art.title+" - "+art.author+"</b>",
  										src: image_tag(art.image).from(10).to(-1) } do %>		
  					<%= image_tag art.image, :class => "art_image" %>
  					<div class="art_overlay">
  							<div class="art_text">
  								<b><%= art.title %></b><br>
  								<%= art.author %>
  							</div>
					</div>
  			<% end %>
		</div>
 	<% end %>
</div>

<script type="text/javascript">
	$( '[data-fancybox]' ).fancybox({
		lang : 'pl',
		i18n : {
			'pl' : {
				CLOSE : 'Zamknij',
				ZOOM : 'Przybliż',
				DOWNLOAD : 'Pobierz',
				PREV : 'Poprzedni',
				NEXT : 'Następny',
				PLAY_START : 'Pokaz slajdów',
				THUMBS : 'Miniatury'
			}
		}
	});
	$.fancybox.defaults.buttons = ['zoom', 'close'];

	$('[data-fancybox="gallery"]').fancybox({
		caption : function( instance, item ) {
			var caption = $(this).data('caption') || '';

			if ( item.type === 'image' ) {
				caption = (caption.length ? caption + '<br />' : '') + '<a href="' + this + '" class="btn btn-primary">Przejdź do obrazu</a>' ;
			}

			return caption;
		}
	});
</script>





