<% provide(:title, 'Nowy wpis') %>

<h1>Dodaj nowy wpis</h1>

<div class="container-fluid">
	<div class="col-md-6">
	
		<%= form_for(@art) do |f| %>	
		<div class="form-group col-md-12">
			<label for="">Tytuł</label>
			<%= f.text_field :title, class: "form-control", placeholder: "Tytuł" %>
		</div>

		<div class="form-group col-md-12">
			<label for="">Autor</label>
			<%= f.text_field :author, class: "form-control", placeholder: "Autor" %>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="">Rok</label>
				<%= f.number_field :year, class: "form-control", placeholder: "Rok" %>
			</div>
			<div class="form-group col-md-6">
				<label for="">Technika</label>
				<%= f.text_field :technique, class: "form-control", placeholder: "Technika" %>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="">Wysokość</label>
				<%= f.number_field :height, class: "form-control", placeholder: "Wysokość" %>
			</div>
			<div class="form-group col-md-6">
				<label for="">Szerokość</label>
				<%= f.number_field :width, class: "form-control", placeholder: "Szerokość" %>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="">Dostępność</label>
				<%= f.check_box :availability, class: "form-control" %>
			</div>
			<div class="form-group col-md-4">
				<label for="">Cena</label>
				<%= f.number_field :price, class: "form-control", placeholder: "Cena" %>
			</div>
		</div>

		<div class="form-group col-md-12">
			<label for="">Obraz</label>
			<%= f.file_field :image, class: "col-md-12"%>
		</div>

		<div class="form-group col-md-12">
			<%= f.submit "Dodaj wpis", class: "btn btn-primary" %>
		</div>	

		<% end %>
	</div>
</div>

<script type="text/javascript">	
</script>
