<% provide(:title, 'Wpis') %>



<div class="col-6 col-md-8 text-center img-thumbnail">

			<%= link_to @art, data: {fancybox: 'gallery', 
  										caption: "<b>"+@art.title+" - "+@art.author+"</b>",
  										src: image_tag(@art.image).from(10).to(-1) } do %>		
  					<%= image_tag @art.image, :class => "art_image" %>
  			<% end %>
</div>

<div class="col-6 col-md-4">
	<div>
			<%= link_to 'Powrót', arts_path, class: "btn btn-primary"%>

		<%if !isAdmin? %>
			<%= link_to 'Zapytaj o dostępność', contact_path, class: "btn btn-primary"%>
		<% end %>

		<% if isAdmin? %>
			<% if @art.featured == true %>
				<%= link_to 'Usuń ze strony głównej', @art, method: :make_featured, data: { confirm: 'Czy na pewno chcesz usunąć wpis?'}, class: "btn btn-danger" %>
			<% else %>
				<%= link_to 'Dodaj na stronie głównej', @art, method: :make_featured, data: { confirm: 'Czy na pewno chcesz dodać wpis?'}, class: "btn btn-primary" %>
			<% end %>
			
			<%= link_to 'Edytuj', edit_art_path(@art), class: "btn btn-primary" %>
			<%= link_to 'Usuń', @art, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć wpis?'}, class: "btn btn-danger" %>
		<% end %>
	</div>

	<br>
	
	<div class="jumbotron" style="background-color: white;">
		<p class="art_title_author">
			<h3><%= @art.title %></h3><br>
			<%= @art.author %>
		</p><br>

		<strong>Rok: </strong><%= @art.year %><br>
		<strong>Technika: </strong><%= @art.technique %><br>
		<strong>Cena: </strong>
			<% if @art.availability %>
				<%= @art.price %> PLN<br>
			<% else %>
				Obraz nie na sprzedaż
			<% end %>
	</div>
	
</div>


<script type="text/javascript">
	$( '[data-fancybox]' ).fancybox({
		lang : 'pl',
		i18n : {
			'pl' : {
				CLOSE : 'Zamknij',
				ZOOM : 'Przybliż',
				DOWNLOAD : 'Pobierz',
				PREV : 'Poprzedni',
				NEXT : 'Następny',
				PLAY_START : 'Pokaz slajdów',
				THUMBS : 'Miniatury'
			}
		}
	});
	$.fancybox.defaults.buttons = ['zoom', 'close'];

	$('[data-fancybox="gallery"]').fancybox({
		caption : function( instance, item ) {
			var caption = $(this).data('caption') || '';

			if ( item.type === 'image' ) {
				caption = (caption.length ? caption + '<br />' : '');
			}

			return caption;
		}
	});
</script>