<header class="navbar navbar-inverse">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Galeria sztuki", root_path, id: "logo" %></li>
				<li><%= link_to "Katalog",   '#' %></li>
				<li><%= link_to "O nas",   about_path %></li>
				<li><%= link_to "Kontakt",   contact_path %></li>
			</ul>
		</nav>

		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				<li><%= link_to "Witaj #{current_user.email}", '#'%>
				<li><%= link_to "Wyloguj się", signout_path, method: :delete %></li>
				<% else %>
				<li><%= link_to "Logowanie", signin_path %>
				<li><%= link_to "Rejestracja", signup_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>	
</header>
