<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Galeriasztuki</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<%= render 'layouts/header' %>


		<% flash.each do |type, value|%>
			<div class="alert alert-<%= type %>"><%= value %></div>
		<% end %>


	<div class="container jumbotron container-fluid" style="width: 80vw; background-color: #e6e6e6;">
		<%= yield %>
	</div>


	

	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>

</body>
</html>

